<div class="wizard-column">
  <div class="wizard-column-contents">
    {{outlet}}
  </div>
  <div class="wizard-footer">
    {{#if this.customWizard}}
      <img class="wizard-footer-logo" src={{this.logoUrl}} alt="" />
    {{else}}
      <div class="discourse-logo"></div>
    {{/if}}

    {{#if this.wizardState.hasProgress}}
      <div
        class="wizard-progress"
        role="progressbar"
        aria-valuenow={{this.wizardState.displayIndex}}
        aria-valuemin="1"
        aria-valuemax={{this.wizardState.totalSteps}}
      >
        <span class="wizard-progress__label">
          {{i18n
            "wizard.step"
            current=this.wizardState.displayIndex
            total=this.wizardState.totalSteps
          }}
        </span>
        <div class="wizard-progress__track">
          <div
            class="wizard-progress__fill"
            style={{this.wizardState.barStyle}}
          ></div>
        </div>
      </div>
    {{/if}}
  </div>
</div>